{% extends "base.html" %}
{% block content %}
<header><h1>{{ user.username}}'s ToDo List</h1></header>

<style>
ul li:hover {
  background: #ddd;
}


</style>
<div class="container">
    <a href="../all" class="button black">All</a>
    <a href="../completed" class="button orange">Completed</a>
</div>
<ul>
{% for instance in object_list %}


<li><p>{{ instance.due_date }}</p>
    <p>Finished?: {{ instance.done }}</p>
    <a href="{{ instance.get_absolute_url }}">{{ instance.title }} </a></li>

{% endfor %}
</ul>
    <br><br>
<div class="container">
<a href="../create" class="button orange">New activity</a>
</div>
{% endblock %}